@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus textare:focus, input:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
}
body {
    font-family: 'Raleway', sans-serif;
}
a,a:hover { text-decoration: none; color: inherit}


#preloader{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #ddd;
    z-index: 99999;
}
.preloder-spin {
  background-image: url("assets/img/ellipsis.gif");
  height: 120px;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  position: absolute;
  top: 50%;
  width: 120px;
  z-index: 9999;
}
.header-area.sticky {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  position: fixed;
    z-index: 999;
}


.hero-area-wrap::before{
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;

}
.hero-area-wrap {
    background-color: #ddd;
    background-image: url("assets/img/home-bg.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.template-owner {
    border: 2px solid #ed2d7b;
    font-style: italic;
    padding: 5px;
    text-transform: uppercase;
}
.template-owner h2 {
    color: #fff;
    margin: 0;
    font-size: 25px;
}
.mainmenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu li {
    display: inline-block;
}
.mainmenu a {
    color: #fff;
    display: block;
    font-weight: 700;
    padding: 10px 0 0 20px;
    text-transform: capitalize;
}
.header-area {
    border-bottom: 1px solid #343434;
    left: 0;
    padding: 15px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.hero-slide {
    color: #fff;
    padding: 150px 0;
}
.hero-slide-text h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 70px;
    max-width: 450px;
    text-transform: capitalize;
}
.boxed-btn {
    background: #ed2d7b none repeat scroll 0 0;
    border: 1px solid #ed2d7b;
    border-radius: 5px;
    display: inline-block;
    font-weight: 700;
    margin: 0 10px;
    padding: 8px 25px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.hero-slide .boxed-btn {
    margin-top: 25px;
}
.boxed-btn:hover {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ed2d7b;
}
.mainmenu a:hover {
    color: #ed2d7b;
}
.hero-slide-text {
    padding-top: 120px;
}



.pd-100 {
    padding: 100px 0;
}
.section-heading {
    margin-bottom: 50px;
}
.section-title {
    display: inline-block;
    font-size: 40px;
    letter-spacing: 2px;
    padding-bottom: 16px;
    position: relative;
    text-transform: uppercase;
}
.section-title span {
    color: #d1296d;
}
.section-title::before {
    background: #d1296d none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 4px;
    left: 20%;
    position: absolute;
    width: 60%;
}
.section-title::after {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #d1296d;
    border-radius: 50%;
    bottom: -5.5px;
    content: "";
    height: 15px;
    left: 50%;
    margin-left: -7.5px;
    position: absolute;
    width: 15px;
}
.service-section {
    background: #f8f8f8 none repeat scroll 0 0;
}
.single-service-box:hover {
    box-shadow: 1px 1px 6px #d1296d;
}

.single-service-box.active {
    box-shadow: 1px 1px 6px #d1296d;
}
.sr-icon-box i.fa {
    color: #d1296d;
    font-size: 80px;
}
.sr-icon-box {
    margin-bottom: 30px;
}
.sr-module-content > h2 {
    text-transform: capitalize;
}
.single-service-box {
    padding: 15px;
}

.features-img {
  padding-top: 90px;
}

.single-features-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
    padding-bottom: 15px;
}
.features-icon {
    color: #d1296d;
    font-size: 35px;
}
.single-features-item h2 {
    text-transform: capitalize;
}
.col-md-12:nth-child(2) .single-features-item {
    border-bottom: medium none;
    margin-bottom: 0;
}


.intro-video {
    color: #fff;
    padding: 180px 0;
    position: relative;
    overflow: hidden;
    z-index: -1;
}
.intro-play-btn {
    font-size: 22px;
    margin-top: 20px;
}
.intro-video h2 {
    font-size: 50px;
    text-transform: capitalize;
}
.intro-video p {
    font-size: 22px;
}

.intro-overlay {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.intr-video-content {
    z-index: 2;
}


.bg-video {
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    z-index: 1;
}



/*----Apps Screenshot---*/


.apps-screen-items .owl-controls .owl-nav div {
    background: #367095 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    height: 40px;
    left: -8%;
    display: none;
    line-height: 40px;
    margin-top: -30px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 0.3s ease 0s;
    width: 40px;
}
.apps-screen-items .owl-controls .owl-nav div.owl-next {
    left: auto;
    right: -10%;
}
.apps-screen-items .owl-controls .owl-nav div:hover {
    background: #d1296d none repeat scroll 0 0;
}
.apps-screenshot:hover .apps-screen-items .owl-controls .owl-nav div {
    display: block;
    opacity: 1;
}



/*---Testimonial Slide---*/


.owl-carousel .recomender-thum {
    background: #ddd none repeat scroll 0 0;
    border-radius: 50%;
    height: 100px;
    margin: 0 auto 40px;
    width: 100px;
}
.recomender-thum > img {
    border-radius: 50%;
    min-height: 100%;
    width: 100%;
}
.single-testimonial {
    margin: 0 auto;
    max-width: 650px;
}
.testimonial-slider .owl-controls .owl-nav div {
    background: #ddd none repeat scroll 0 0;
    border-radius: 50%;
    color: #d1296d;
    font-size: 30px;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -15px
    transition: all 0.3s ease 0s;
    width: 30px;
}
.testimonial-slider .owl-controls .owl-nav div.owl-next {
    left: auto;
    right: 0;
}
.testimonial-slider .owl-controls .owl-nav div:hover {
    background: #000 none repeat scroll 0 0;
    color: #fff;
}
.single-testimonial div span {
  font-weight: 700;
}
.recomender-info {
  line-height: 1.9;
}




.price-icon {
    font-size: 35px;
    transition: .3s;
}
.price-item {
    text-align: center;
}
.pricing-title {
    margin-bottom: 0;
    margin-top: 25px;
    text-transform: capitalize;
}
.price-item  p {
    color: #8b909d;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
.pricing-price {
    font-size: 32px;
    font-weight: 700;
    margin: 16px 0 30px;
    overflow: hidden;
}
.pricing-feauters ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.pricing-feauters ul li {
    padding-bottom: 10px;
}
.pricing-bnt {
    border: medium none;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.pricing-anim {
    display: inline-block;
    position: relative;
}
.price-currency {
    font-size: 14px;
    vertical-align: super;
}
.price-period {
    color: #8b909d;
    font-size: 20px;
}


.price-item.active {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.price-item .pricing-bnt {
    margin-top: 25px;
}
.pricing-bnt:hover {
    background: #333 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
}

.price-item:hover .price-icon{
    color: #ed2d7b;
}

.price-item:hover .pricing-anim {
	-webkit-animation: moveUp 0.4s forwards;
	animation: moveUp 0.4s forwards;
	-webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.price-item:hover .pricing-anim-2 {
	-webkit-animation-delay: 0.05s;
	animation-delay: 0.05s;
}

@keyframes moveUp {
	50% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	51% { opacity: 0; -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	52% { opacity: 1; -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}



/*---Blog---*/

.blog-cat ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.blog-cat li {
    display: inline-block;
}
.blog-cat a {
  display: block;
  font-size: 18px;
  margin-right: 6px;
  padding: 10px 0;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.blog-cat a:hover {
    color: #d1296d;
}

.read-more.boxed-btn {
    margin-top: 25px;
}

.blog-img .owl-carousel .owl-controls .owl-dots {
    bottom: 30px;
    position: absolute;
    right: 0;
}
.blog-img .owl-carousel .owl-controls .owl-dots div {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    margin: 0 5px;
    width: 12px;
}
.blog-img .owl-carousel .owl-controls .owl-dots div.active {
    background-color: #fff;
}

.blog-title {
    font-weight: 700;
    text-transform: uppercase;
}
.blog-desk {
    letter-spacing: 1px;
    line-height: 1.8;
    padding: 20px 0;
}
a.author {
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    padding-right: 15px;
    width: 1px;
}
.date {
    text-transform: capitalize;
}
.author::after {
    content: "|";
    padding-left: 7px;
    position: absolute;
}



/*---Team---*/


.team-member, .team-img {
    overflow: hidden;
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-hover {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    border: 20px solid rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 100%;
}
.desk  h4 {
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.desk  p {
    color: #7e7e7e;
    font-size: 14px;
    margin-bottom: 0;
}
.team-hover .desk {
    opacity: 0;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.team-hover .s-link {
    bottom: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.s-link  a {
    color: #000;
    font-size: 14px;
    margin: 0 10px;
}
.s-link > a:hover {
    color: #d1296d;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}





footer {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    padding: 50px 0 0;
}
.primary-footer {
  padding-bottom: 30px;
}
.primary-footer p {
    line-height: 37px;
}
.primary-footer h5 {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}
.f-list ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.f-list ul li {
    border-bottom: 1px solid #555;
}
.f-list a {
    display: block;
    padding: 10px 0;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.f-list a::before {
    content: "ï„…";
    font-family: fontawesome;
    margin-right: 15px;
}
.f-list a:hover {
    color: #d1296d;
}
.f-list a {
}
.r-work ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.r-work li {
    display: list-item;
}
.r-work ul li a {
    float: left;
    height: 60px;
    margin: 0 10px 10px 0;
    width: 60px;
}
.r-work li a img {
    height: auto;
    width: 100%;
}


.secondary-footer {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  border-top: 1px solid #555;
  padding: 50px 0 25px;
}
.f-link {
    color: #000;
    font-weight: 700;
    transition: all 0.3s ease 0s;
}
.f-link:hover {
    color: #fff;
}
.footer-s-link a {
    border: 1px solid #333;
    border-radius: 50%;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    margin: 0 16px 0 0;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 35px;
}
.footer-s-link a:hover {
    background: #000;
    color: #fff;
}


.scrollToTop {
    background: #000 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 30px;
    color: #fff;
    display: none;
    font-size: 25px;
    height: 40px;
    position: fixed;
    right: 30px;
    text-align: center;
    width: 40px;
}








