@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus textare:focus, input:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
    color: #373737;
}
body {
    font-family: 'Khula', sans-serif;
    color: #999;
}
a:hover { text-decoration: none; color: inherit}



.mainmenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu ul li {
    display: inline-block;
    position: relative;
}
.mainmenu a {
    color: #888;
    display: block;
    padding: 10px 17px;
    text-transform: capitalize;
}

.mainmenu li a:hover{
    color: #ee476e;
}
.bordered-btn, input[type="submit"], button[type="submit"] {
    background: #ee476e none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 10px 28px;
}
.logo img {
    max-height: 45px;
}
.header-area {
    padding: 20px 0;
}
.hero-content {
    max-width: 440px;
}
.hero-content h1 {
    font-size: 40px;
    margin-bottom: 30px;
}
.hero-content p {
    font-weight: 100;
}
.website-chcker-form {
    margin-top: 30px;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="url"], button[type="submit"], input[type="submit"], textarea {
    border: 1px solid #f4f4f4;
    padding: 12px 15px;
}
input[type="submit"], button[type="submit"] {
    padding: 12px 35px;
}
.hero-area {
    border-bottom: 1px solid #f9f9f9;
    padding: 150px 0;
}




.section-common-space {
    padding: 120px 0;
}
.single-service-box {
    border: 1px solid #f6f6f6;
    margin-bottom: 50px;
    padding: 20px;
    transition: all 0.2s ease 0s;
}
.section-title {
    margin-bottom: 95px;
}
.icon-module-content h5 {
    font-size: 20px;
    margin: 15px 0;
    text-transform: capitalize;
}
.icon-box {
    color: #3f3c3c;
    font-size: 32px;
}
.icon-module-content > p {
    font-weight: 300;
    line-height: 1.65;
}
a.service-read-more-btn {
    color: #373737;
    display: inline-block;
    margin-top: 10px;
    text-transform: capitalize;
}
a.service-read-more-btn i.zmdi {
    padding-left: 7px;
}
.single-service-box:hover {
    border-color: #ef476f;
}
.single-service-box:hover .icon-box, .single-service-box:hover a.service-read-more-btn, .single-service-box:hover .icon-module-content h5 {
    color: #ef476f;
}
.single-service-box:hover .icon-box {
    color: #ef476f;
}
.pdt-50 {
    padding-top: 50px;
}

.work-btn {
    margin-top: 30px;
}
